***I have created every every files into single dataframe and added them in file_paths and created lis for every dataframes and then combined them in single dataframe called combined_df.***

In [1]:
import pandas as pd
import glob

# Assuming all your Excel files are in the same directory
file_paths = [
    "C:\\Users\\Green Gen Tech\\Downloads\\apsrtc_redbus_project_redbus_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\ksrtc_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Documents\\kadamba_redbus_project_redbus_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\rsrtc_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\tsrtc_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\south_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\hrtc_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\up_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\chandigarh_redbus_project_redbus_new_1.xlsx",
    "C:\\Users\\Green Gen Tech\\Downloads\\wbtc_redbus_project_redbus_new_1.xlsx"
]

# Creating a list of DataFrames from each file
dataframes = [pd.read_excel(file) for file in file_paths]

# Combining DataFrames
combined_df = pd.concat(dataframes)

# Resetting the index
combined_df = combined_df.reset_index(drop=True)

# Printing the combined DataFrame
combined_df

,bus_name,bus_route_name,bus_route_link,bus_type,duration,departing_time,reaching_time,price,star_rating,seat_availability,state_of_bus
0,APSRTC - 2673,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,Super Luxury (Non AC Seater 2+2 Push Back),04h 55m,00:15 Rtc bus stand,04h 55m,INR 469,3.2,30 Seats available 13 Window,Andhra Pradesh
1,APSRTC - 37800,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,INDRA(A.C. Seater),05h 30m,00:15 Rtc bus stand,05h 30m,INR 567,4.0,21 Seats available 7 Window,Andhra Pradesh
2,APSRTC - 24255,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,INDRA(A.C. Seater),04h 20m,00:20 Rtc bus stand,04h 20m,INR 528,1.5,9 Seats available 4 Window,Andhra Pradesh
3,APSRTC - 2572,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),05h 55m,00:30 Rtc bus stand,05h 55m,INR 648,5.0,24 Seats available 11 Window,Andhra Pradesh
4,APSRTC - 2677,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,NIGHT RIDER (SEATER CUM SLEEPER),05h 35m,00:40 Rtc bus stand,05h 35m,INR 639,3.4,24 Seats available 13 Window,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...
254027,Greenline,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo 9600 Multi Axle Semi-Sleeper (2+2),04h 00m,16:00 Esplanade,04h 00m,INR 524,4.5,19 Seats available 7 Window,west bengal
254028,Shyamoli Paribahan Pvt Ltd,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,16:40 Esplanade,05h 00m,INR 524,4.7,23 Seats available,west bengal
254029,Greenline (Karunamoyee),kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,16:45 Karunamoyee,05h 00m,INR 524,4.4,28 Seats available 12 Window,west bengal
254030,Express Line,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo 9600 A/C Semi Sleeper (2+2),05h 00m,17:20 Esplanade,05h 00m,INR 524,4.7,44 Seats available 21 Window,west bengal
254031,SHYAMOLI Pvt. Ltd.(Karunamoyee),kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,17:30 Karunamoyee,05h 00m,INR 524,4.4,31 Seats available,west bengal

In [2]:
file_paths

['C:\\Users\\Green Gen Tech\\Downloads\\apsrtc_redbus_project_redbus_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\ksrtc_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Documents\\kadamba_redbus_project_redbus_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\rsrtc_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\tsrtc_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\south_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\hrtc_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\up_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\chandigarh_redbus_project_redbus_new_1.xlsx',
 'C:\\Users\\Green Gen Tech\\Downloads\\wbtc_redbus_project_redbus_new_1.xlsx']

In [3]:
import pandas as pd

# Defining the output file path for the CSV file
output_file_path = "C:\\Users\\Green Gen Tech\\Downloads\\combined_redbus_data_final.xlsx"

# Saving the DataFrame to a CSV file
combined_df.to_csv(output_file_path, index=False)

# Printing a confirmation message
print(f"Combined DataFrame saved to {output_file_path}")

Combined DataFrame saved to C:\Users\Green Gen Tech\Downloads\combined_redbus_data_final.xlsx

In [4]:
import pandas as pd
df = pd.read_csv(r"C:\\Users\\Green Gen Tech\\Downloads\\combined_redbus_data_final.xlsx")
df

,bus_name,bus_route_name,bus_route_link,bus_type,duration,departing_time,reaching_time,price,star_rating,seat_availability,state_of_bus
0,APSRTC - 2673,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,Super Luxury (Non AC Seater 2+2 Push Back),04h 55m,00:15 Rtc bus stand,04h 55m,INR 469,3.2,30 Seats available 13 Window,Andhra Pradesh
1,APSRTC - 37800,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,INDRA(A.C. Seater),05h 30m,00:15 Rtc bus stand,05h 30m,INR 567,4.0,21 Seats available 7 Window,Andhra Pradesh
2,APSRTC - 24255,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,INDRA(A.C. Seater),04h 20m,00:20 Rtc bus stand,04h 20m,INR 528,1.5,9 Seats available 4 Window,Andhra Pradesh
3,APSRTC - 2572,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),05h 55m,00:30 Rtc bus stand,05h 55m,INR 648,5.0,24 Seats available 11 Window,Andhra Pradesh
4,APSRTC - 2677,vijayawada-to-hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,NIGHT RIDER (SEATER CUM SLEEPER),05h 35m,00:40 Rtc bus stand,05h 35m,INR 639,3.4,24 Seats available 13 Window,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...
254027,Greenline,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo 9600 Multi Axle Semi-Sleeper (2+2),04h 00m,16:00 Esplanade,04h 00m,INR 524,4.5,19 Seats available 7 Window,west bengal
254028,Shyamoli Paribahan Pvt Ltd,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,16:40 Esplanade,05h 00m,INR 524,4.7,23 Seats available,west bengal
254029,Greenline (Karunamoyee),kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,16:45 Karunamoyee,05h 00m,INR 524,4.4,28 Seats available 12 Window,west bengal
254030,Express Line,kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo 9600 A/C Semi Sleeper (2+2),05h 00m,17:20 Esplanade,05h 00m,INR 524,4.7,44 Seats available 21 Window,west bengal
254031,SHYAMOLI Pvt. Ltd.(Karunamoyee),kolkata-to-asansol,https://www.redbus.in/bus-tickets/kolkata-to-a...,Volvo A/C Seater (2+2),05h 00m,17:30 Karunamoyee,05h 00m,INR 524,4.4,31 Seats available,west bengal

***Now I stored those combined file into the Mysql database by creating new database and table***

In [8]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="bus"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE redbus (
                            id int auto_increment primary key,
                            bus_name varchar(100),
                            bus_route_name varchar(100),
                            bus_route_link varchar(255),
                            bus_type varchar(100),
                            duration varchar(20),
                            departing_time varchar(50),
                            reaching_time varchar(50),
                            price varchar(20),
                            star_rating float,
                            seat_availability varchar(50),
                            state_of_bus varchar(20)
                )"""
    cursor.execute(query)
    print("Table 'redbus_table' created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Error connecting to MySQL: 1050 (42S01): Table 'redbus' already exists

In [6]:
con = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Nagunaveen@143"
)
cursor = con.cursor()
cursor

In [9]:
query ="describe redbus"
cursor.execute(query)
for i in cursor:
    print(i)

('bus_name', 'text', 'YES', '', None, '')
('bus_route_name', 'text', 'YES', '', None, '')
('bus_route_link', 'text', 'YES', '', None, '')
('bus_type', 'text', 'YES', '', None, '')
('duration', 'text', 'YES', '', None, '')
('departing_time', 'text', 'YES', '', None, '')
('reaching_time', 'text', 'YES', '', None, '')
('price', 'text', 'YES', '', None, '')
('star_rating', 'double', 'YES', '', None, '')
('seat_availability', 'text', 'YES', '', None, '')
('state_of_bus', 'text', 'YES', '', None, '')

***I used sqlalchemy and create engine to store those dataframe into mysql workbench***

In [10]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

host = "localhost"
user = "root"
password = "Nagunaveen@143"
database = "bus"
connection_string = f"mysql+mysqlconnector://{user}:{password}@{host}/{database}"
db = create_engine(connection_string)
df = pd.read_csv(r"C:\\Users\\Green Gen Tech\\Downloads\\combined_redbus_data_final.xlsx")
#df.to_sql(name='bus_data_lusu', con=db, if_exists='replace', index=False)
con.commit()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse

host = "localhost"
user = "root"
password = "Nagunaveen@143"  
database = "bus"
password_encoded = urllib.parse.quote_plus(password)
connection_string = f"mysql+mysqlconnector://{user}:{password_encoded}@{host}/{database}"
engine = create_engine(connection_string)
csv_file = r"C:\\Users\\Green Gen Tech\\Downloads\\combined_redbus_data_final.xlsx"
df = pd.read_csv(csv_file)
table_name = 'redbus'
try:
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
    print(f"Data successfully written to '{table_name}' table in MySQL.")
except Exception as e:
    print(f"Error writing data to MySQL: {e}")
engine.dispose()